@use './colors' as *;
@use '../custom' as *;



.card-border{
          
    &-size {
        border-radius: $border-radius ;
        min-width: 160px;
        width: 20%;
        max-height: 200px;
        box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
        border:0;
    }

    &-color-fb{background-color: $facebook !important;}
    &-color-insta{
        background: linear-gradient(to left, $instagram-from, $instagram-to) !important;}
    &-color-twit{background-color: $twitter !important;}
    &-color-youtube{background-color: $youTube !important;}
    &-color-margin {margin-top: 3px;}
}


.card{
    border:0;
    
    width: 100%;
    height: 100%;
    
    &-image{
        max-height: 20px;
    }
    p{
        margin: 0px;
    }
   .letter-spacing {
        letter-spacing: 4px;
      }
    
    
    
}


